<manifest package="com.harry"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme"
        tools:replace="android:name">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>

        <activity android:name=".rxjava.RxJavaActivity"/>
        <activity android:name=".rxjava.retrofit.TopActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".rxjava.UploadActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".video.VideoActivity"/>
        <activity android:name=".video.MovieRecorderActivity"/>
        <activity android:name=".ProgressActivity"/>
        <activity android:name=".mvp.TopViewActivity"/>
        <activity android:name=".slide.ViewPagerActivity"/>
        <activity android:name=".reflect.ReflectActivity"/>
        <activity android:name=".image.ImageActivity"/>
        <activity android:name=".anno.AnnotationActivity"/>
        <activity android:name=".mvp.DownloadActivity"/>
        <activity android:name=".ImmersiveActivity"/>
        <activity android:name=".SweepGradientActivity"/>
        <activity android:name=".progress.IndicatorActivity"/>
        <activity android:name=".AcessActivity"/>
        <service
            android:name=".service.AccessService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>
