<manifest package="com.harry"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>

    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.handware.camera"/>
    <uses-permission android:name="android.handware.autofocus"/>

    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme"
        tools:replace="android:name">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>
        </activity>

        <activity android:name=".rxjava.RxJavaActivity"/>
        <activity
            android:name=".rxjava.retrofit.TopActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".rxjava.UploadActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".video.VideoActivity"/>
        <activity
            android:name=".video.MovieRecorderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProgressActivity"/>
        <activity android:name=".mvp.TopViewActivity"/>
        <activity android:name=".slide.ViewPagerActivity"/>
        <activity android:name=".reflect.ReflectActivity"/>
        <activity android:name=".image.ImageActivity"/>
        <activity android:name=".anno.AnnotationActivity"/>
        <activity android:name=".mvp.DownloadActivity"/>
        <activity android:name=".ImmersiveActivity"/>
        <activity android:name=".SweepGradientActivity"/>
        <activity android:name=".progress.IndicatorActivity"/>
        <activity android:name=".AcessActivity"/>
        <activity android:name=".AesRsaActivity"/>
        <activity android:name=".socket.ClientActivity"/>
        <activity android:name=".dynamic.ProxyActivty">
            <intent-filter>
                <action android:name="com.harry.VIEW"/>
                <category
                    android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".DayNightActivity"
            android:theme="@style/DayNightTheme"/>
        <activity android:name=".WebViewActivity"/>

        <activity android:name=".service.binder.BinderActivity"/>
        <activity android:name=".mvp.MatrixActivity"/>

        <service
            android:name=".socket.ServerService"
            android:enabled="true">
        </service>
        <service
            android:name=".service.binder.BinderPoolService"
            android:enabled="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="com.harry.service.binder.BinderPoolService"/>
            </intent-filter>
        </service>
        <service
            android:name=".service.AccessService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>
    </application>

</manifest>
